# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=your-account-id-here

# App
PORT=3001
NODE_ENV=development

# DynamoDB
DYNAMO_TABLE_NAME=pulseboard-metrics

# Frontend
VITE_API_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3001